@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import 'tailwindcss';

/* 스크롤 바운스 방지 */
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

html {
  overscroll-behavior: none;
}
